[submodule "vendor/zudio"]
	path = vendor/zudio
	url = https://github.com/rameshlinuxadmin/zudio
[submodule "vendor/webform"]
	path = vendor/webform
	url = https://github.com/rameshlinuxadmin/webform
